.logInBlock {
    display: grid;
    justify-content: center;
}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.contactInput {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.contactButton {
    background-color: #4CAF50;
        border: black;
        color: white;
        padding: 12px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
        margin-top: 20px;
}
.contactButton:hover {
    background-color: #58e05d;
    border-color: #4CAF50;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

h1 {
    color: rgb(37, 57, 239);
}
